
.outlet {
  padding: 20px;
  flex: 1;
  background-repeat: repeat ;
  background-size: contain;
  height: 100vh;
  overflow: auto;
}
.container {
  display: flex;
  font-family: Poppins, sans-serif;
}
